body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 380px;
}

h1 {
  text-align: center;
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 15px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: #c3c3c3;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px 10px;
  margin: 0 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
}

textarea {
  min-height: 40px;
  resize: vertical;
}

#result {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 380px;
}
