.button {
  background-color: #1313e6df;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.add-button {
  background-color: #4caf50;
  color: white;
}
