form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

input[type="text"],
select {
  padding: 6px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 200px;
}

label {
  font-weight: 600;
  margin-right: 5px;
}

#card {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
  padding: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
}
